<form class="form-inline" (ngSubmit)="onSubmit(commentForm)"
#commentForm="ngForm"
>
<!-- <pre>
  {{ body.errors | json}}
</pre> -->
    <div class="form-group mr-3">
      <input type="text" class="form-control"
       placeholder="Add comment here"
       name="body"
       #body = "ngModel"
       [(ngModel)]="comment.body"
       required
       minlength="3"
       maxlength="100"
       >
    </div>
    <button type="submit" class="btn btn-dark btn-sm"
    [disabled]="commentForm.invalid">Add</button>
    <small class="alert alert-danger" *ngIf="body.errors && body.dirty">
      <span *ngIf="body.errors['required']">Field is required!</span>
      <span *ngIf="body.errors['minlength']">Min length is 3!</span>
    </small>
  </form>